.content {
    width: 75%;
}

.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--title {
    color: #526d82;
}

.header--activity {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* card container */

.card--container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}

.card {
    flex: 1;
    background: #dde6ed;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5 ease-in-out;
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card--cover {
    background: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    color: #969393;
}

.card--title {
    background: #ffffffc0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #526d82;
    border-radius: 10px;
}

.card--button {
    margin-top: 10px;
    text-decoration: none;
    color: #526d82;
    background-color: #dde6ed;
    align-items: center;
    border-color: #dde6ed;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.card--button:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}